html{
	--maxWidth: 1920px;
	--availWidth: 1260px;
}
*, *::before, *::after{
	margin: 0;
	padding: 0;

}
body{
	width: 100vw;
	background-image: linear-gradient(90deg, #7f00ff,#e100ff);
	overflow-x: hidden;
}
.wrapper{
	width: 70%;
	margin: 0 auto; 
	height: 100vh;
	
}
.header{
	background-image: linear-gradient(90deg, #642B73,#C6426E);
	background-repeat: no-repeat;
	background-size: contain;
	height: 25%;
	width: 100%;
	border-radius: 5%/ 2%;
}
.inner-header{
	height: 100%;
	width: 100%;
	font-size: 5em;
	line-height: 100%;
	/* white-space: pre-wrap;
	 */
	 word-wrap: wrap;
}
 header p{
	background-clip: text;
	-webkit-background-clip: text;
	text-align: center;
	color: transparent;
	background-image: radial-gradient(at bottom right, rgb(255, 255, 250) , rgb(189, 189, 140) ,rgb(153, 141, 141));
}
main{
	background-color: rgb(207, 95, 95);
}
hr{
	margin-left: 20%;
}
.main-header{
	
	font-style: oblique;
	font-weight: bolder;
	color: rgb(44, 21, 47);
	font-size: 2.7em;
	text-align: center;
}
.main-inner-main{
	display: flex;
	height: 400px;
	width: 100%;
	margin-top: 5%;
}
.main-inner-main-left{
	height: 100%;
	width: 50%;
	background: url(Images/3.jpg);
	position: relative;
	left: 15px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20%;
}
.main-inner-main-right{
	height: 100%;
	width: 50%;
}
.main-inner-main-right table{
	position: relative;
	margin-left: 10%;
	border-radius: 15px;
	width: 80%;
	border: 5px solid rebeccapurple;
	background-color: rgb(205, 200, 211);
}
.first{
	margin-top: 15px;
}
caption{
	margin-bottom: 15px;
}
.main-inner-main-right table tr{
	font-size: 20.5px;
	height:50px;
}
.main-inner-main-right table tr td:nth-child(1){
	padding-left: 10px;
}
.main-inner-main-right table tr td:nth-child(2){
	/* padding-left: 20%; */
	width: fit-content;
	word-wrap: none;
}
.main-inner-main-right table caption{
	font-size: 1.5em;
}
.select{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.select button{
	flex-grow: 1;
	background-color: rgb(50, 101, 243);
	border-radius: 25%/20%;
	color: black;
	font-size: 110%;
	font-weight: bolder;
	font-variant: small-caps;
	border: 6px solid rgb(0, 162, 255);
}
button::first-letter{
	color: grey;
	font-size: 1.8em;
	/* vertical-align: top; */
}
button:hover{
	box-shadow: 5px 5px 2px rgb(60, 72, 105);
	border-radius: 35%;
	background-color: rgb(64, 120, 224);
	transition-property: color, border-radius, background;
	transition-duration: 1.5s, 1.2s, 1s;
	text-transform: lowercase;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
button{
	transition-property: color, text-transform;
	transition-duration: 1.5s;
}
button:hover:first-letter{
	color: black;
}
.info{
	height: fit-content;
	background: white;
	width: 100%;
	position: relative;
}
.info1, .info2, .info3{
	background-color: rgb(251, 167, 71);
	font-size: larger;
}
.info1 p, .info2 p, .info3 p{
	padding: 10px;
	padding-left: 2%;
}
.info1 table, .info2 table, .info3 table{
	margin-left: 5%;
	border: 2px solid black;
	border-collapse: collapse;
}

.info1 .bull tr td:nth-child(2), .info2 .bull tr td:nth-child(2), .info3 .bull tr td:nth-child(2){
	padding-left: 15%;
	width: 40%;
	border: 2px solid black;
	text-align: center;
}
.info1 ul, .info2 ul, .info3 ul{
	list-style-type: disc;
	list-style-position: inside;
	margin-left: 20px;
}
.bigger{
	font-size: 200%;
	text-align: center;
}
#last{
	font-weight: bolder;
	
}
@media(min-width:1410px){
.image1{
	border-radius: 15%;

	bottom: 50%;
	right: 12%; z-index: 15;
	height: 150px;
	width: 150px;
	background: url(Images/Kasba.jpg);
	background-size: cover;
	position: absolute;
	/* filter: brightness(80%); */
}
.image2{
	bottom: 20%;
	right: 14%;
	height: 100px;
	width: 100px;
	position: absolute;
	border-radius: 15%;
	z-index: 20;
	background: url(Images/Sobor.jpg);
	background-size: cover;
	
}
.image3{
	bottom: 15%;
	right: 1%;
	border-radius: 15%;
	height: 130px;
	width: 130px;
	position: absolute;
	background: url(Images/mechet.jpg);
	background-size: cover;
}
.image4{
	height: 100px;
	width: 100px;
	border-radius: 15%;
	height: 130px;
	width: 130px;
	position: absolute;
	background: url(Images/mavz.jpg);
	background-size: cover;
	bottom: -7%;
	right: 0;

}
.image5{
	height: 100px;
	width: 100px;
	border-radius: 15%;
	height: 80px;
	width: 150px;
	position: absolute;
	background: url(Images/pliazhi.jpg);
	background-size: cover;
	bottom: 5%;
	right: 32%;
}
.image6{
	
	border-radius: 15%;
	height: 120px;
	width: 150px;
	position: absolute;
	background: url(Images/Konst.jpg);
	background-size: cover;
	top: 5%;
	right: 10%;
}
.image7{
	height: 100px;
	width: 100px;
	border-radius: 15%;
	height: 80px;
	width: 150px;
	position: absolute;
	background: url(Images/Annaba.jpg);
	background-size: cover;
	bottom: 5%;
	right: 50%;
}
}
footer{
	height: 50px;
	background-color: coral;
	font-size: large;
	text-align: center;
	line-height: 50px;
	vertical-align: baseline;
}